<mat-toolbar color="primary">

    Sign up/log in with Angular and Firebase

    <ng-container *ngIf="authService.currentUser | async as user; else loginBtn">

      <button mat-button (click)="logout()">

        <mat-icon>logout</mat-icon>
  
        Log out
  
      </button>

    </ng-container>

    <ng-template #loginBtn>

      <button mat-button routerLink="/login">

        <mat-icon>login</mat-icon>
  
        Log in
  
      </button>

    </ng-template>

</mat-toolbar>

<div class="router-container">

  <router-outlet></router-outlet>

</div>